body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top-pen {
  background-color: #090422;
}

.pen {
  height: 50vh;
  display: flex;
}

.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: #090422;
}

.editor-container.collapsed {
  flex-grow: 0;
}
.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}
.expend-collaps-btn {
  margin-left: 0.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: #292a2e;
  color: #aaaebc;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-family: sans-serif;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.CodeMirror {
  height: 100% !important;
}
.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
}
.icon {
  width: 20px;
}
